@font-face {
  font-family: "zabars";
  src: url("fonts/zabars.ttf") format("truetype");
}

body {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("./assets/sunset-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
canvas {
  background-color: black;
  margin-bottom: 80px;
  display: block;
}

h1 {
  font-size: 64px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(255, 100, 68);
}
.d-none {
  display: none !important;
}
.container {
  width: 100%;
  max-width: 720px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* Stellen Sie sicher, dass der Z-Index höher als der des Canvas ist */
  height: 480px; /* Festlegen der Höhe auf 480px */
  width: 720px; /* Festlegen der Breite auf 720px */
  background: url("./img/9_intro_outro_screens/start/startscreen_1.png")
    no-repeat 0 0 / 100% 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.start-btn {
  margin-top: 60px;
  position: absolute;
  top: 0;
  color: #ffd70b;
  font-size: 48px;
  transition: transform 0.3s;
  text-shadow: 5px 2px rgb(191, 0, 0);
  cursor: pointer;
}

.restart-btn {
  margin-bottom: 60px;
  position: absolute;
  bottom: 0;
  color: #ffd70b;
  font-size: 48px;
  transition: transform 0.3s;
  text-shadow: 5px 2px rgb(191, 0, 0);
}

/* Smartphones--------------------------720px */

@media (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

/* @media only screen and (max-width: 480px) {
  canvas {
    height: 100vh;
    margin-bottom: 0px;
  }
}
 */
