@font-face {
  font-family: "zabars";
  src: url("fonts/zabars.ttf") format("truetype");
}

@font-face {
  font-family: "bangers";
  src: url("fonts/bangers.ttf") format("truetype");
}

/* Stil für den gesamten Body-Bereich */
body {
  font-family: "zabars", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("img/5_background/layers/air.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Stil für das Canvas-Element */
canvas {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}

/* Stil für Überschrift 1 (h1) */
h1 {
  font-size: 80px;
  letter-spacing: 3px;
  margin-top: -88px;
  color: rgb(254, 185, 56);
  text-shadow: 5px 2px rgb(191, 0, 0);
}

/* Stil für Spielanweisungen */
.Game-instructions {
  font-family: "bangers";
  font-size: 24px;
  color: rgb(255, 249, 197);
  padding: 8px;
}

/* Klasse, um ein Element auszublenden */
.d-none {
  display: none !important;
}

/* Stil für Container */
.container {
  width: 100%;
  max-width: 720px;
  aspect-ratio: 1.5/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stil für Beschreibungen von Tasten */
.key-description {
  font-size: 12px;
}

/* Stil für die Hilfe-Box */
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Stil für Informationstext */
.info {
  color: #fff;
  text-shadow: 2px 2px black;
}

/* Stil für Informationstext beim Hover */
.info:hover {
  cursor: pointer;
}

/* Stil für Tastenbeschriftung */
.key {
  color: #ffd500;
  text-shadow: 2px 2px black; /* Textschatten */
  font-size: 18px !important;
}

/* Stil für Overlay */
.overlay {
  position: absolute;
  right: 20px;
  top: 60px;
  display: flex;
  gap: 16px;
}

/* Stil für Overlay-Icon beim Hover */
.overlay-icon:hover {
  cursor: pointer;
}

/* Stil für Bilder innerhalb von Overlay-Icons */
.overlay-icon > img {
  position: relative;
  padding-top: 0px;
  height: 30px;
  width: 30px;
}
.fullscreen {
  height: 30px;
  width: 30px;
}

/* Stil für Fullscreen- und Mute-Icons beim Hover */
.fullscreen:hover,
.mute:hover {
  cursor: pointer;
  color: #ffd500;
}
.home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

/* Stil für die Informationsbox */
.info-box {
  background-color: rgb(70, 13, 20);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.close {
  color: rgb(255, 130, 68);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 24px 40px 0 0;
  box-sizing: border-box;
  margin-bottom: 24px;
}

/* Stil für das Schließen-Icon beim Hover */
.close:hover {
  cursor: pointer;
}

/* Stil für die Startseite */
.start-page {
  height: 100%;
  width: 100%;
  background: url(./img/9_intro_outro_screens/start/startscreen_1.png) no-repeat
    0 0 / 100% 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

/* Stil für die Endseite */
.end-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

/* Stil für den Start-Button */
.start-btn {
  margin-top: 60px;
  position: absolute;
  top: 0;
  color: #ffd70b;
  font-size: 48px;
  transition: transform 0.3s;
  text-shadow: 5px 2px rgb(191, 0, 0);
  cursor: pointer;
}

/* Stil für den Neustart-Button */
.restart-btn {
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  color: #ffd70b;
  font-size: 32px;
  transition: transform 0.9s;
  text-shadow: 5px 2px rgb(191, 0, 0);
  cursor: pointer;
}

.restart-btn:hover,
.start-btn:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.start-btn:not(:hover):not(:active) {
  animation: resize 1s infinite;
}

.restart-btn:not(:hover):not(:active) {
  animation: resize 2s infinite;
}

/* Stil für die mobilen Steuerungselemente */
.mobile-control {
  position: absolute;
  display: flex;
  bottom: 10px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

/* Stil für mobile Icons */
.mobile-icon {
  width: 30px;
  height: 30px;
  background-color: rgb(255 213 0 / 18%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  cursor: pointer;
}
.direction {
  display: flex;
  margin: 0 8px;
}
.option {
  display: flex;
  margin: 0 8px;
}
#right {
  margin-left: 8px;
}
#throw {
  margin-left: 8px;
}

.icon-left {
  background-image: url("assets/circle-left.svg");
}

/* Stil für die rechten Pfeil-Icons */
.icon-right {
  background-image: url("assets/circle-right.svg");
}

/* Stil für die Sprung-Icons */
.icon-jump {
  background-image: url("assets/circle-up.svg");
}

/* Stil für die Flaschen-Icons */
.icon-bottle {
  background-image: url("assets/bottle.svg");
}

/* Stil für das Menü */
.menu {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Stil für das Overlay zum Drehen des Telefons */
.turn-phone-overlay {
  display: none;
  position: absolute;
  background-color: rgb(67, 121, 137);
  color: rgb(199, 103, 88);
  text-shadow: 2px 2px #ffd70b;
  font-size: 72px;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
/* ----------------------------------------------------------------------- */
.link-section {
  font-family: "bangers";
  font-weight: 300;
  font-size: 12px;
  display: flex;
  gap: 20px;
  color: rgb(161, 60, 57);
  text-decoration: none;
  cursor: pointer;
}

.link-section:hover {
  color: rgb(32, 165, 204);
  text-decoration: dashed;
}

#overlay-icons {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 64px;
  /* Anpassen, je nach gewünschtem Abstand von oben */
  right: 24px; /* Anpassen, je nach gewünschtem Abstand von rechts */
}
/* ----------------------------------------------------------------------- */

/* Keyframe-Animation zum Vergrößern und Verkleinern */
@keyframes resize {
  0% {
    transform: scale(1); /* Anfangsgröße */
  }
  50% {
    transform: scale(1.03); /* Vergrößern */
  }
  100% {
    transform: scale(1); /* Zurück zur Anfangsgröße */
  }
}

/* Medienabfrage für kleine Höhen */
@media (max-height: 650px) {
  h1 {
    display: none;
  }
}

/* Medienabfrage für schmale Bildschirme */
@media only screen and (max-width: 1100px) {
  .help-bar {
    left: 0;
    background-color: rgb(248 125 29 / 98%);
    z-index: 10; /* Stapelreihenfolge erhöhen */
  }
}

/* Medienabfrage für Portrait-Modus auf kleinen Bildschirmen */
@media (orientation: portrait) and (max-width: 768px) {
  .turn-phone-overlay {
    display: flex;
    z-index: 120; /* Stapelreihenfolge erhöhen */
  }
}
/* Standardmäßig menu, audiobtn und fullscreen ausblenden, wenn Bildschirmbreite <= 768px */
@media (max-width: 1024px) {
  #fullscreen {
    display: none;
  }
}
@media (max-width: 768px) {
  .Game-instructions {
    font-size: 16px;
    color: rgb(255, 249, 197);
    padding: 8px;
  }
}

/* Medienabfrage für sehr kleine Bildschirme */
@media (max-width: 750px) and (max-height: 500px) {
  .container {
    height: 100vh; /* Höhe auf 100% des Viewports setzen */
    max-width: unset; /* Maximale Breite entfernen */
  }
}

/* Medienabfrage für sehr kleine Höhen */
@media only screen and (max-height: 480px) {
  h1 {
    display: none; /* Überschrift ausblenden */
  }

  .help-bar {
    left: 0; /* Linke Position auf 0 setzen */
    background-color: rgb(248 125 29 / 98%);
    z-index: 10;
  }

  .container,
  canvas {
    height: 100vh;
    width: 100%;
  }
}
